{
  "openapi": "3.0.0",
  "info": {
    "title": "SureBright API",
    "description": "API documentation for SureBright services",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://sandbox.mintlify.com"
    }
  ],
  "paths": {
    "/quoteService/api/v1/store/listCategories": {
      "get": {
        "summary": "List Categories",
        "description": "Retrieve a list of store categories corresponding to the provided storeId. The response should include detailed category information as well as labels that reflect the authorization status.",
        "operationId": "listCategories",
        "tags": ["storeCategory"],
        "parameters": [
          {
            "name": "storeId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A unique identifier for a store will be shared as part of the integration kit"
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Z]{2}$"
            },
            "description": "The country code of the identified customer location"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The state code of the identified customer location"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "storeId": {
                      "type": "string"
                    },
                    "isError": {
                      "type": "boolean"
                    },
                    "categoryList": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sbCategoryName": {
                            "type": "string"
                          },
                          "sbCategoryId": {
                            "type": "string"
                          },
                          "labelList": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "511": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isError": {
                      "type": "boolean"
                    },
                    "errorType": {
                      "type": "integer"
                    },
                    "errorMessage": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}